@charset 'utf-8';
:root {
        --primaryFgColor: #C0C0C0;
        --primaryBgColor: #222;
        font-size: 20px;
}

body {
        height: 100vh;
        color:  var(--primaryFgColor);
        background-color: var(--primaryBgColor);
        text-align: center;
        text-shadow: snow -1px -1px 2px;

        display: grid;
        grid-template-rows: 0.25fr 1fr 1fr;
        grid-template-columns: 0.25fr 1fr 0.25fr;
}
header {
        grid-column: 1 / -1;
        grid-row: 1 / 1
}
.main {
	text-align: left;
}
.sidebar {
        border: 1px solid snow;
        grid-column: 1/1;
        grid-row: 2/-1;
}
.statusbar {
        border: 1px solid snow;
        grid-column: 3/3;
        grid-row: 2/-1;
}

.error{
	color: #f00;
	text-shadow:  -1px -1px #750000;
}

/* Table */
td,th {
        border: 2px solid;
        padding: 10px;
}
table{
        margin-left: 22%;
}
/* Basic UI Elements */
input,a,a:visited,textarea {
        background-color: var(--primaryBgColor);
        color: var(--primaryFgColor);
}
/* Button Styles */
button,input[type=submit],select,option {
        background-color: var(--primaryBgColor);
        color: var(--primaryFgColor);
        border: 1px solid inset;
        padding: 0.5% 1%;
}
button:active,input[type=submit]:active{
        background-color: var(--primaryFgColor);
        color: var(--primaryBgColor);
}
